@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Roboto Slab", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

figure {
  position: relative;
  margin: 0;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 15em;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  margin: .5rem;
  border-radius: 8px;
}

p {
  margin: 1rem;
}
